<%- include('partials/header.ejs') %>

<div class="dashed">
  <h1>Holiday app!</h1>
</div>
<div id="form-container">
  <form action="/submit" method="POST">
    <label for="dest">Where are you going?:</label><br />
    <input type="text" id="dest" name="dest" />
  </form>
  <% if (locals.countries) { countries = JSON.parse(countries); if
  (countries.length > 1) { %>
  <br />
  <form action="/chooseCountry" method="POST">
    <label for="choice"><%= countries.length %> options found:</label>
    <select id="choice" name="countryIndex" onchange="this.form.submit()">
      <% for (let i in countries) { %>
      <option value="<%= i %>">
        <%= countries[i].name %>, <%= countries[i].countryFullName %>
      </option>
      <% } %>
      <input type="submit" value="Submit!" />
    </select>
    <% } else { } %>
  </form>
  <% } %>
</div>
<div id="weather-card" class="dashed grid">
  <button></button>
  <div id="week-container" class="hflex dotted">
    <% if (locals.forecasts) { %> <% forecasts = JSON.parse(forecasts); %> <%
    for ( i in forecasts[0]) { %>
    <div class="daily-forecast vflex">
      <div class="temp"><%= forecasts[0][i].forecast.temp %></div>
      <div class="weather-icon"></div>
      <div class="hour"><%= forecasts[0][i].hour %></div>
    </div>
    <% } %> <% } %>
  </div>
  <button></button>
</div>

<%- include('partials/footer.ejs') %>K
